[submodule "repos/dwm"]
	path = repos/dwm
	url = https://git.suckless.org/dwm
	ignore = dirty
[submodule "repos/st"]
	path = repos/st
	url = https://git.suckless.org/st
	ignore = dirty
[submodule "repos/dmenu"]
	path = repos/dmenu
	url = https://git.suckless.org/dmenu
	ignore = dirty
